.header {
    background-color: black; 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
  
.header ul li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color:white;
}

.header ul li a{
    color:white;
    text-decoration: none;
}